html, body {
    height: 100%;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color:rgba(251, 163, 55, 0.664);
    overflow: hidden;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: auto;

}

.container h1 {
    font-size: 45px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.container input {
    width: 350px;
    height: 25px;
    margin: 2px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.container button {
    width: 80px;
    height: 35px;
    font-size: 15px;
    margin: 5px;
}
.output h2 {
    text-align: center;
}


.output {
    display: inline-block;
    text-align: justify;
    width: 500px;
    
}
