<!DOCTYPE html>
<html lang='en'>
    <title>English Thesarus</title>
    <head>
        <link href = "../static/main.css" rel='stylesheet'>
    </head>
    <body>
        <div class='container'>
            <h1>English Thesarus</h1>
            <h3>Please enter a word</h3>
            <form action={{url_for('definitions')}} method="POST">
                <input title="Enter a word to get it's definition" type="text" name=input_text> <br>
                <button type='submit'> Submit</button>        
            </form>
        <div class = 'output'>
            <p id = 'definitions'> {{definitions|safe}} </p> 
            <p id = 'suggestions'> {{suggestions|safe}} </p>
            <br>
        </div>
    </div>
    </body>
</html>